---
layout: default
baseurl: "../"
title: Details
description: "Earn a transfer degree in 2 years. Kankakee Community College's Fast Path program takes the guesswork out of college so you can focus on being successful."
---

<h1 class="site-h1">Fast Path - More Details</h1>
<div class="container-fluid container-fluid__no-pad">
  <!-- Top banner and hero banner -->
  {% include top-banner.html %}
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="details-h1">More details</h1>
    </div>
    <div class="col-lg-12 text-center">
      <img src="{{ page.baseurl }}assets/img/infographic.png" class="infographic text-center" alt="Infographic that shows icons for Affordable, Convenient, and Supportive arranged in a triangular relation to one-another.">
    </div>
  </div>
  <div class="row pull-up">
    <div class="col-lg-6 text-center">
      <img src="{{ page.baseurl }}assets/img/transfer.png" alt="Icon that says, &quot;Transfer? Yes!&quot;" class="smaller-icon2">
      <h3 class="intro3">After 2 years and 60 credits in Fast Path,</h3>
      <p class="details-p">you'll complete an Associate in Arts transfer degree. This degree is accepted (and guaranteed!) at 24 Illinois colleges, including all state universities. Many out-of-state colleges/universities also accept it. This means you'll start as a junior and will have completed gen-ed requirements.</p>
      <p class="details-p">The Associate in Arts is ideal for students pursuing a Bachelor of Arts, which includes areas such as communication, psychology, social work, education, history and English. If you plan to enter a more science or technology-based area, please check before enrollment to make sure this is the right program for you.</p>
    </div>
    <div class="col-lg-6 text-center">
      <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/who.png" alt="Icon with the text, &quot;Who can enroll?&quot;" class="smaller-icon2">
      <p class="details-p">This program includes all the required courses to earn the General Education Core Curriculum stamp in Illinois.</p>
      <p class="details-p">Students who have never taken a college class or have some previous college credits are encouraged to apply.</p>
      <p class="details-p">There are some testing requirements to be ready for college. The South Extension Center advisor will review testing requirements with each applicant.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/pricing.png" alt="Icon of dollar bills" class="tight-marg">
      <h2 class="intro2">Pricing</h2>
      <p class="details-p">The total cost of Fast Path for the first year is $5,562 that includes tuition, fees, and a laptop. <a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener">Financial aid, scholarships and payment plans are available</a>.</p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/sample-courses.png" alt="Icon of an apple." class="tight-marg">
      <h2 class="intro2">Master Academic Plan</h2>
      <p class="details-p">Fast Path includes the most popular courses for Associate in Arts students.</p>
        <p class="details-p push-right">
          <a href="#" class="button btn btn-primary button-text" data-toggle="modal" data-target="#secModal">View Plan</a>  for the Miner&#160;South Extension&#160;Center</p>
        </p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/english.png" alt="Icon of the Letter A." class="tight-marg">
      <h2 class="intro2">What if I don't test into English I?</h2>
      <p class="details-p">Multiple measures will be used to determine your readiness for English I. Talk with your advisor about options.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4  text-center">
      <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/statistics.png" alt="Icon of a bar graph with a trend line." class="tight-marg">
      <h2 class="intro2">What if I don't test into Statistics?</h2>
      <p class="details-p">If you don't test where you need to be you can practice and retest up to five times using KCC's math testing system, ALEKS.</p>
    </div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/laptop.png" alt="Icon of a laptop with settings-gears on the screen" class="tight-marg">
      <h2 class="intro2">Can I use my own laptop?</h2>
      <p class="details-p">A new laptop computer is provided and will be loaded with the tools you need.</p>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <section class="back-white">
  <!-- Calls to action with icon buttons -->
    <div class="row back-white">
      <div class="col-lg-2"></div>
      {% include apply.html %}
      {% include why-fp.html %}
      <div class="col-lg-2"></div>
    </div>
  </section>
</div>

  <section class="card-set">
    {% include bottom-cards2.html %}
  </section>
</div>

<!-- Miner South Extension Center Master Academic Plan modal -->
<div class="modal fade" id="secModal" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <!-- Modal content-->
  <div class="modal-content modal-marg">
    <div class="modal-header">
      <h4 class="modal-title">Miner South Extension Center<br> Master Academic Plan</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <a href="{{ page.baseurl }}assets/img/fast-path_master-acad-plan_SEC-02-2020.pdf" target="_blank" rel="noopener"><img class="img-fluid" data-src="{{ page.baseurl }}assets/img/fast-path-master-acad-plan_SEC-02-2020.png" src="{{ page.baseurl }}assets/img/placeholder.png" alt=""></a>
      <p>Click image to view PDF</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
