---
layout: default
baseurl: "../"
title: Why Fast Path?
description: "Earn a transfer degree in 2 years. Kankakee Community College's Fast Path program takes the guesswork out of college so you can focus on being successful."
---

<h1 class="site-h1">Fast Path - What you'll get</h1>
<div class="container-fluid container-fluid__no-pad">
  <!-- Top banner and hero banner -->
  {% include top-banner.html %}
</div>
<div class="container mt-3">
  <div class="row top-pad-tablet">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/what-youll-get_arrow-diagonal.png" alt="What you'll get..." class="img-fluid">
    </div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/student-writing.jpg" class="img-fluid mb-5 mb-lg-0" style="width: 300px" alt="Girl smiling at a desk in class" class="you-get-icon">
    </div>
    <div class="col-lg-2"></div>
  </div>


  <div class="row">
    <div class="col-lg-12 content-pad">

      <h2 class="intro4 green half-border">Convenient location</h2>
      <p class="why-p">Fast Path program is offered at KCC’s Miner South Extension Center in Watseka.</p>

      <h2 class="intro4 half-border">A predictable schedule you can actually plan your life around</h2>
      <p class="why-p">Fast Path classes will be at the same time on the same days of the week throughout the program. So whether it’s work or family obligations, or just to plan ahead, you'll have a schedule you can depend on.</p>

      <h2 class="intro4 deep-red half-border">A fully mapped program guaranteed to transfer</h2>
      <p class="why-p">Fast Path takes the guesswork out of creating a schedule that will work. You’ll know on day one exactly what classes you’ll take, when, and where.</p>

      <h2 class="intro4 green half-border">A rigorous curriculum designed for today’s learner</h2>
      <p class="why-p">Research shows that students learn best in programs that combine both traditional and online instruction. With that in mind, Fast Path was carefully designed to maximize your engagement and success through a blend of face-to-face and online activities and materials.</p>

      <h2 class="intro4 half-border">A concentrated learning&nbsp;experience</h2>
      <p class="why-p">Typically, Fast Path schedules just two classes at a time every eight weeks. This format allows you to focus on the material at a pace that maximizes learning while eliminating distractions and busy work.</p>

      <h2 class="intro4 deep-red half-border">A support system you can rely&nbsp;on</h2>
      <p class="why-p">Fast Path is a cohort program, and you and your classmates will experience everything together as a team. Being part of a learning community means you’ll always have classmates to turn to for help! In addition, you will have a faculty member to be a mentor, guide, and coach throughout the program.</p>

    </div>
  </div>

  <section class="back-white">
  <!-- Calls to action with icon buttons -->
    <div class="row back-white">
      <div class="col-lg-4"></div>
      {% include apply.html %}
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 spacer-col"></div>
    </div>
  </section>
</div>
  <section class="card-set">
    {% include bottom-cards2.html %}
  </section>
</div>
