---
layout: default
baseurl: "../"
title: KCC
description: "Earn a transfer degree in 2 years. Kankakee Community College's Fast Path program takes the guesswork out of college so you can focus on being successful."
---

<h1 class="site-h1">Fast Path - What you'll get</h1>
<div class="container-fluid">
  <!-- Top banner and hero banner -->
  {% include top-banner.html %}

  <!-- Down arrow section -->
  <div class="down">
    {% include down-arrow3.svg %}
  </div>

  <div class="row top-pad-tablet">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/what-youll-get_arrow-diagonal.png" alt="What you'll get..." class="youll-get">
    </div>
    <div class="col-lg-4 text-center">
      <img src="{{ page.baseurl }}assets/img/youll-get-photo.jpg" alt="Girl smiling at a desk in class" class="you-get-icon">
    </div>
    <div class="col-lg-2"></div>
  </div>


  <div class="row">
    <div class="col-lg-12 content-pad">
      <h2 class="intro4 half-border">A predictable schedule you can actually plan your life around</h2>
      <p class="why-p">All Fast Path classes will be held at the same time on the same days of the week throughout the length of the program. So whether it’s work or family obligations, or just being able to plan ahead, you’ll always have a schedule you can depend on.</p>
      <h2 class="intro4 deep-red half-border">A fully mapped program guaranteed to transfer</h2>
      <p class="why-p">One of the biggest challenges students often face is finding the right classes at the right time that they know will transfer. Fast Path takes the guesswork out of creating a schedule that will work. You’ll know on day one exactly what classes you’ll take, when, and where.</p>
      <h2 class="intro4 green half-border">A rigorous curriculum designed for today’s learner</h2>
      <p class="why-p">Research has shown that students learn best in programs that combine elements of both traditional and online instruction. With that in mind, Fast Path classes have been carefully designed to maximize student engagement and success through a blend of face to face and online activities and materials.</p>
      <h2 class="intro4 gold2 half-border">A concentrated learning&#160;experience</h2>
      <p class="why-p">Students in Fast Path take just two classes at a time for eight weeks. It sounds intense, but the truth is, this format allows you and your teacher to focus on the material at a pace that maximizes learning while eliminating distractions and busy work.</p>
      <h2 class="intro4 half-border">A support system you can rely&#160;on</h2>
      <p class="why-p">Students in Fast Path take classes as part of a cohort, meaning that you and your classmates will experience everything together as a team. Being part of such a learning community means you’ll always have classmates to turn to for help! In addition, all Fast Path students will have a faculty member who will act as a mentor, guide, and coach throughout their time in the program.</p>
    </div>
  </div>

  <section class="back-white">
  <!-- Calls to action with icon buttons -->
    <div class="row back-white">
      <div class="col-lg-4"></div>
      {% include apply.html %}
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 spacer-col"></div>
    </div>
  </section>

  <section class="card-set">
    {% include bottom-cards.html %}
  </section>
</div>
