
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="get-started-h1 text-center">Get started today</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 bottom-cards__btm-marg">
          <div class="card bottom-cards__card-size mx-auto bottom-cards__wrapper">
            <div class="card-body">
              <div class="engagement-card-content text-center">
                <a href="https://apply.kcc.edu/Application.php?splash=FastPath" target="_blank" rel="noopener" class="no_underline">
                  <h3 class="engagement-card-headline">Apply for <br />admission</h3>
                </a>
                <p class="card-p">We’ll help you start<br />your journey</p>
                <div class="engagement-card-cta">
                  <a href="https://apply.kcc.edu/Application.php?splash=FastPath" target="_blank" rel="noopener" class="button btn btn-primary card-btn">Apply Now</a>
                </div>
              </div>
              <div class="bottom-cards__img--wrapper">
                <a href="https://apply.kcc.edu/Application.php?splash=FastPath" target="_blank" rel="noopener">
                  <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/D51_8659.jpg" alt="Image of a woman using a laptop computer that links to Admissions application." class="img-marg img-fluid card-img-bottom"/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 bottom-cards__btm-marg">
          <div class="card bottom-cards__card-size mx-auto bottom-cards__wrapper">
            <div class="card-body">
              <div class="engagement-card-content text-center">
                <a href="http://www.kcc.edu/future/start/Pages/vip.aspx" target="_blank" rel="noopener" class="no_underline">
                  <h3 class="engagement-card-headline">Schedule a <br />campus tour</h3>
                </a>
                <p class="card-p">Personalized, with <br />your own guide</p>
                <div class="engagement-card-cta">
                  <a href="http://www.kcc.edu/future/start/Pages/vip.aspx" target="_blank" rel="noopener" class="button btn btn-primary card-btn">Visit KCC</a>
                </div>
              </div>
              <div class="bottom-cards__img--wrapper">
                <a href="http://www.kcc.edu/future/start/Pages/vip.aspx" target="_blank" rel="noopener">
                  <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/DSC_2659.jpg" alt="Image of three students walking campus that links to KCC's VIP Campus Tour page."  class="img-marg img-fluid card-img-bottom"/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 bottom-cards__btm-marg">
          <div class="card bottom-cards__card-size mx-auto bottom-cards__wrapper">
            <div class="card-body">
              <div class="engagement-card-content text-center">
                <a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener" class="no_underline">
                  <h3 class="engagement-card-headline">Financial aid<br />&amp;&nbsp;scholarships</h3>
                </a>
                <p class="card-p">FAFSA opens Oct. 1<br />KCC Scholarships open Nov.&#160;1</p>
                <div class="engagement-card-cta">
                  <a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener" class="button btn btn-primary card-btn">Tell Me More</a>
                </div>
              </div>
              <div class="bottom-cards__img--wrapper">
                <a href="http://www.kcc.edu/financialaid" target="_blank" rel="noopener">
                  <img src="{{ page.baseurl }}assets/img/placeholder.png" data-src="{{ page.baseurl }}assets/img/D41_7247.jpg"  class="img-marg img-fluid card-img-bottom" alt="Image of a woman being helped at KCC's financial aid desk that links to KCC's Financial Aid Home page."/>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
